/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}





/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #191C26;
    --scroll_width: 17px;
    --text_color: #333;
    --font_size: 14px;
    --font_size_title: 28px;
    --font_family: 'Inter';
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}


@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Black.eot');
    src: local('TT Commons Black'), local('TTCommons-Black'),
        url('../fonts/TTCommons-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Black.woff2') format('woff2'),
        url('../fonts/TTCommons-Black.woff') format('woff'),
        url('../fonts/TTCommons-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Bold.eot');
    src: local('TT Commons Bold'), local('TTCommons-Bold'),
        url('../fonts/TTCommons-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Bold.woff2') format('woff2'),
        url('../fonts/TTCommons-Bold.woff') format('woff'),
        url('../fonts/TTCommons-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Regular.eot');
    src: local('TT Commons Regular'), local('TTCommons-Regular'),
        url('../fonts/TTCommons-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Regular.woff2') format('woff2'),
        url('../fonts/TTCommons-Regular.woff') format('woff'),
        url('../fonts/TTCommons-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraBold.eot');
    src: local('TT Commons ExtraBold'), local('TTCommons-ExtraBold'),
        url('../fonts/TTCommons-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraBold.woff2') format('woff2'),
        url('../fonts/TTCommons-ExtraBold.woff') format('woff'),
        url('../fonts/TTCommons-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-ExtraLight.eot');
    src: local('TT Commons ExtraLight'), local('TTCommons-ExtraLight'),
        url('../fonts/TTCommons-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-ExtraLight.woff2') format('woff2'),
        url('../fonts/TTCommons-ExtraLight.woff') format('woff'),
        url('../fonts/TTCommons-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Thin.eot');
    src: local('TT Commons Thin'), local('TTCommons-Thin'),
        url('../fonts/TTCommons-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Thin.woff2') format('woff2'),
        url('../fonts/TTCommons-Thin.woff') format('woff'),
        url('../fonts/TTCommons-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Medium.eot');
    src: local('TT Commons Medium'), local('TTCommons-Medium'),
        url('../fonts/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Medium.woff2') format('woff2'),
        url('../fonts/TTCommons-Medium.woff') format('woff'),
        url('../fonts/TTCommons-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-Light.eot');
    src: local('TT Commons Light'), local('TTCommons-Light'),
        url('../fonts/TTCommons-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-Light.woff2') format('woff2'),
        url('../fonts/TTCommons-Light.woff') format('woff'),
        url('../fonts/TTCommons-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons';
    src: url('../fonts/TTCommons-DemiBold.eot');
    src: local('TT Commons DemiBold'), local('TTCommons-DemiBold'),
        url('../fonts/TTCommons-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTCommons-DemiBold.woff2') format('woff2'),
        url('../fonts/TTCommons-DemiBold.woff') format('woff'),
        url('../fonts/TTCommons-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}






/*------------
    Header
------------*/

body.menu_open {
    overflow: hidden;
}

header .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

header .close_btn img {
    display: block;
    width: 30px;
    height: 30px;
}

header {
    padding: 29px 0 0px;
}

header .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 29px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
}
header .menu .item a {
    text-decoration: none;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all .4s;
    white-space: nowrap;
    margin-right: 28px;
}
header .menu .item a:hover {
    color: #FFB800;
}
.header .menu .item a:active {
    color: #FFB800;
}
.header_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.header_contact-text {
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.header_contact-text span {
    color: #ADE94B;
}
.header_contact-phone {
    display: flex;
    align-items: center;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.header_contact-phone img {
    margin-right: 12px;
}
.header_contact .btn {
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFB800;
    margin-top: 11px;
    text-decoration: underline;
}



.first_section {
    position: relative;
}
.first_section .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_section-wrap {
    width: calc(100% - 610px);
    flex-shrink: 0;
    z-index: 9999;
}
.first_section-title {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.first_section-title span {
    color: #FFB800;
}

.first_section-sale {
    background: #CD2314;
    border-radius: 2px;
    padding: 0px 14px;
    font-family: 'TT Commons';
    font-weight: 900;
    font-size: 22px;
    line-height: 49px;
    color: #FFFFFF;
    max-width: 281px;
    min-height: 49px;
    margin-bottom: 46px;
}
.first_section ul {    
    list-style: none;
    margin-bottom: 46px;
}
.first_section ul li {
    position: relative;
    padding-left: 36px;
    font-family: 'TT Commons';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.first_section ul li + li {
    margin-top: 20px;
}
.first_section ul li::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    left: 0;
    top: -4px;
    background: url(../images/check.svg);
}
.first_section .btn {
    width: 271px;
    height: 78px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 16px;
    line-height: 78px;
    text-transform: uppercase;
    color: #191C26;
}
.first_section .swiper-container {
    overflow: visible;
    width: calc(100% - 610px);
}
.first_section .swiper-slide {
    width: 710px;
    height: 707px;
}
.first_section .swiper-slide img {
    border-bottom-left-radius: 7px;
    display: block;
}
.first_section .swiper-pagination.swiper-pagination-horizontal {
    width: 170px;
    height: 62px;
    left: -152px;
    bottom: 0px;
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    border-bottom-left-radius: 7px;
}
.first_section .swiper-pagination-current {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 8px;
}
.first_section .swiper-pagination-total {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.2;    
    margin-left: 8px;
}


.first_section .swiper-button-next,
.first_section .swiper-button-prev {
    width: 20px;
    height: 15px;
    border-radius: 50%;
    top: calc(100% - 15px);
    z-index: 999;
}
.first_section .swiper-button-next {
    left: 130px;
    transition: all .4s;
}
.first_section .swiper-button-prev {    
    transition: all .4s;
    left: 18px;
}

.first_section .swiper-button-next img {
    position: absolute;
    width: 17px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first_section .swiper-button-prev img {
    position: absolute;
    width: 17px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.services {
}
.cont {
}
.block_head {
}
.block_head .subtitle {
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #75777D;
    margin-bottom: 20px;
    padding-left: 22px;
    position: relative;
}
.block_head .subtitle:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 1px;
    top: 5px;
    left: 0;
    background: #75777D;
}
.block_head .title {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}
.service_items {
    margin-left: -20px;
    margin-bottom: -20px;
    display: flex;
}
.service_items > * {
    width: calc(100%/4 - 20px);
    margin-bottom: 20px;
    margin-left: 20px;

}
.service_item {
    position: relative;
    display: block;
    text-decoration: none;
}
.service_item-img {    
    position: relative;
    overflow: hidden;
    padding-bottom: 150%;
}
.service_item-img img {    
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service_item-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.service_item-title {
    font-family: 'TT Commons';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.service_item-link {
    width: 91px;
    height: 28px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: #191C26;
    text-align: center;
}
.service_item-text {
    display: flex;  
    align-items: center;  
    position: absolute; 
    transform: rotate(-90deg);
    padding: 20px;
    top: 0;
    left: 0;
}
.service_item-text span.white {
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #191C26;
    
    background: #FFFFFF;
    padding: 6px;
   
}
.service_item-text span.yellow {
    color: #191C26;
    background: #FFB800;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding: 6px;
    display: block;
    margin-left: 4px;
}



.about_descript {
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}




.advantages {
}
.cont {
}
.advantages_top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.advantages_info {
    width: calc(100% - 692px);
    flex-shrink: 0;
    margin-right: 100px;
}
.advantages_title {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.advantages_text p {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;    
    color: #FFFFFF;  
}
.advantages_text p + p {
    margin-top: 20px;
}
.advantages .swiper-container {
    flex-shrink: 0;
}
.advantages .swiper-pagination {
    padding: 9px 14px;
    background: #fff;
    bottom: 4px;
    z-index: 9999;
    display: flex;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.advantages .swiper-pagination-bullet {
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    opacity: 0.24;
    width: 10px;
    height: 10px;  
}
.advantages .swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 6px !important;
}
.advantages .swiper-pagination-bullet:hover, 
.advantages .swiper-pagination-bullet-active {
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    opacity: 1;
    box-shadow: none;
}
.advantages ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -40px;
}
.advantages ul > * {
    width: calc(100%/3 - 20px);
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.advantages ul li:last-child {
    width: 100%;
}
.advantages ul li {
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;    
    color: #FFFFFF;  
}
.advantages ul li img {
    width: 38px;
    height: 38px;
    display: block;
    margin-bottom: 10px;
}
.advantages_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 78px;
    background: rgba(79, 171, 234, 0.04);
    backdrop-filter: blur(3px);
    border-radius: 4px;
}
.advantages_wrap_text {
    font-family: 'TT Commons';
    font-weight: 500;
    font-size: 34px;
    line-height: 39px;
    color: #FFFFFF;
    max-width: 257px;
}
.advantages_wrap_phone {
    font-family: 'TT Commons';
    font-weight: 200;
    font-size: 60px;
    line-height: 69px;
    text-transform: uppercase;
    color: #FFB800;   
    text-decoration: none;
}
.advantages_wrap_link {
    width: 211px;
    height: 46px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 16px;
    line-height: 46px;
    text-transform: uppercase;
    color: #191C26;
    text-decoration: none;
    text-align: center;
}





.works {
}
.works_item {
    position: relative;
    display: block;
    text-decoration: none;
}
.works_item-img {    
    position: relative;
    overflow: hidden;
    padding-bottom: 97.63%;
}
.works_item-img img {    
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.works_item-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(25, 28, 38, 0) 68.23%, #191C26 84.37%);
    opacity: 0.7;
    z-index: 2;
}
.works_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.works_items > * {
    width: calc(100%/2 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
}
.works_item-info {
    padding: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}
.works_item-title {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;   
    margin-bottom: 24px;
}
.works_item-link {
    width: 91px;
    height: 28px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: #191C26;
    text-align: center;
}
.works_item.hide {
    display: none;
}
.link-more {
    display: inline-block;
    width: 312px;
    height: 78px;
    background: #FFB800;
    box-shadow: 0px 12px 34px rgba(255, 184, 0, 0.2), 0px 6px 20px rgba(255, 184, 0, 0.16);
    border-radius: 4px;  
    text-align: center;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 16px;
    line-height: 78px;
    text-transform: uppercase;
    color: #191C26;
    text-decoration: none;
    margin: 0 auto;
}
.link-more.active {
    display: none;
}


.steps {
}
.steps_wrap {
    padding: 40px;
    background: rgba(79, 171, 234, 0.06);
    backdrop-filter: blur(3px);
    border-radius: 4px;
}
.steps_title {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 42px;
    line-height: 56px;
    color: #FFFFFF; 
    margin-bottom: 48px;
}
.steps_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -36px;
    margin-bottom: -36px;counter-reset: section;
}
.steps_items > * { 
    margin-left: 36px;
    margin-bottom: 36px;
    width: calc(100%/4 - 36px);
}
.steps_item-icon {
    width: 48px;
    height: 48px;
    position: relative;   
}
.steps_item-icon:before {
    position: absolute;
    counter-increment: section;                 
    content: "0 " counter(section) " ";
    font-family: 'TT Commons';
    font-weight: 900;
    font-size: 12px;
    line-height: 14px;
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}
.steps_item-text {
    margin-top: 20px;
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}



.benefits {
}
.benefits .block_head .title {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;   
}
.benefits_items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.benefits_items > * {
    width: calc(100%/4 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #FFB800;
    border-radius: 4px;
    height: min-content;
}
.benefits_item-number {
    background: #FFB800;
    border-radius: 2px;
    padding: 10px 8px;
    font-family: 'TT Commons';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #191C26;     
    margin-bottom: 11px; 
    display: inline-block;
}
.benefits_item-title {
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 11px;
}
.benefits_item-text {
    font-family: 'TT Commons';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.benefits.blau .benefits_items > * {    
    border: 2px solid #437EB4;
}






.faq {

}
.accordion {
    column-gap: 20px;
    columns: 2;
}
.accordion_item {
    margin-bottom: 20px;
    transition: all 0.4s;
    border: 1px solid #437EB4;
    border-radius: 6px;
    break-inside: avoid-column;
}

.accordion_item:last-child {
    margin-bottom: 0;
}

.accordion_item .head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding: 26px;
    transition: all .4s;
    border-radius: 6px;
    
}

.accordion_item .head span {
    font-weight: 600;
    font-size: var(--font_size_title);
    line-height: 28px;
    color: #FFFFFF;
    transition: all .4s;
}

.accordion_item .head .title {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-right: 20px;
    text-align: start;
    transition: all .4s;
}

.accordion_item .data {
    font-family: 'TT Commons';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 26px 26px;
}

.accordion .accordion_item .data {
    display: none;
}
.accordion .accordion_item .data p + p {
    margin-top: 20px;
}

.accordion .accordion_item.active {
    border: 1px solid #FFB800;
    border-radius: 6px;
}

.accordion .accordion_item.active .head .title {
    color: #FFB800;
}
.faq_btn {
    width: 23px;
    height: 23px;
    background: linear-gradient(90deg, #437EB4 0%, #50AFEF 100%);
    opacity: 0.4;
    border-radius: 2px;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.accordion .accordion_item.active .faq_btn {
    background: #FFB800;
}
.accordion .accordion_item.active .faq_btn img {
    transform: rotate(180deg);
}










form {
    max-width: 440px;
    z-index: 2;
}

form .line {
    margin-bottom: 40px;
    width: 100%;
}

form .line .field {
    width: 100%;
}

form .line .field input {
    border: none;
    border-bottom: 1px solid #024873;
    padding-bottom: 7px;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 100%;
}

form .line .field input:focus {
    border-bottom: 1px solid var(--bg);
}

form .line .field textarea {
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    width: 100%;
    border: none;
    border-bottom: 1px solid #024873;
    resize: none;
    height: 35px;
}

form .line .field textarea:focus {
    border-bottom: 1px solid var(--bg);
}

form button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    max-width: 242px;
    height: 50px;
    width: 100%;
    background: var(--bg);
    transition: all .4s;
    border: 2px solid transparent;
}

form button:hover {
    border: 2px solid var(--bg);
    background: #fff;
    color: var(--text_color);
}





.map_wrap {
    position: relative;
    max-width: 100%;
    transform: translateZ(0);
    width: 100%;
    height: 628px;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.modal_slider {
    display: none;
}
.modal_callback {
    max-width: 577px;
    padding: 71px 68px 72px;
    background: #FFFFFF;
    position: relative;
    display: none;
}

.modal_callback:before {
    position: absolute;
    content: "";
    width: 232px;
    height: 184px;
    bottom: 0;
    left: 0;
    background: url(../images/modal_bg1.png);
    z-index: 0;
}

.modal_callback:after {
    position: absolute;
    content: "";
    width: 270px;
    height: 158px;
    top: 0;
    right: 0;
    background: url(../images/modal_bg2.png);
    z-index: 0;
}

.modal_callback-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: #333333;
    margin-bottom: 21px;
    text-transform: uppercase;
}

.modal_callback-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 40px;
}